
/* .video-container .video-js-dimensions {
  width: none !important;
  height: none !important;
} */


video {
  width: 99% !important;
    object-fit: cover !important;
    height: 200px;
}

.video-js {
  width: auto !important;
  height: 225px;
}

