.video-container .video-js-dimensions {
  width: none !important;
  height: none !important;
}

#video-js {
  /* width: 488px; */
}
video.video-js {
  width: 438px;
}

.video-js {
  width : 100% !important;
}
/* .vjs-control-bar {
  display: none;
} */
